@import './variables.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
input,
label,
span,
button {
    font-family: 'Montserrat', sans-serif;
}

.primary-font {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6.2rem;

    @include media-breakpoint-down(sm){
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.6rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 1.8rem;
}

li {
    font-size: 2.2rem;
}

p,
li > span {
    font-size: 1.6rem;
}
